.card-container{
    display: inline-block;
    width: 300px;
    height: 350px;
    border-radius: 8px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/071/470/non_2x/abstract-orange-and-yellow-gradient-stripes-motion-blur-on-black-background-texture-vector.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    margin-right: 10px; 
    margin-top: 20px;
    overflow: hidden;
}
.card-container:hover {
    box-shadow: 0 4px 8px rgba(182, 182, 182, 0.596);
  }

.card-container h3{
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}

.p-card2{
    color:chartreuse;
    font-size: 15px;
    text-align: center;
}

.img-product{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.p-product{
    color: blueviolet;
    text-align: center;
    font-size: 20px;
}